:host{
    --primary-color: #087cc9;
    --secondary-color: #2ecc71;
    --font-color: #333333;
    --background-color: #f5f5f5;
    --line-color: #333333;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.logo{
    width: 50px;
    height: auto;
}
.title{
    color: var(--primary-color);
    margin-top: 10px;
    font-family:  -apple-system, BlinkMacSystemFont, "SF Pro Text",
             "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    font-size: 24px;
    cursor: pointer;
    margin:15px 20px 5px 5px
}
.line{
    width: 100%;
    height: 1px;
    background-color: var(--line-color);
    margin-top: 10px;
}